<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart_learn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.smart_learn.presenter.activities.SimpleLoginActivity"></activity>
        <activity android:name="com.smart_learn.presenter.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.smart_learn.presenter.activities.TestSettingsActivity" />
        <activity android:name="com.smart_learn.presenter.activities.TestGenerationActivity" />
        <activity android:name="com.smart_learn.presenter.activities.TestOnlineActivity" />
        <activity android:name="com.smart_learn.presenter.activities.EntrancesRVActivity" />
        <activity android:name="com.smart_learn.presenter.activities.TestActivity" />
        <activity android:name="com.smart_learn.presenter.activities.DictionaryActivity" />
        <activity android:name="com.smart_learn.presenter.activities.DictionariesRVActivity" />
        <activity android:name="com.smart_learn.presenter.activities.OpenLessonActivity" />
    </application>

</manifest>