<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart_learn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- For using AlarmReceiver after device is rebooted. AlarmReceiver will detect boot action. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".core.common.helpers.ApplicationController"
        android:icon="@drawable/img_launcher_100"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_launcher_round_100"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presenter.common.activities.helpers.BasicActivity" />
        <activity android:name=".presenter.guest.activities.settings.GuestSettingsActivity" />
        <activity android:name=".presenter.user.activities.settings.UserSettingsActivity" />
        <activity android:name=".presenter.common.activities.settings.SettingsActivity" />
        <activity android:name=".presenter.user.activities.test.UserTestActivity" />
        <activity android:name=".presenter.guest.activities.test.GuestTestActivity" />
        <activity android:name=".presenter.common.activities.test.TestActivity" />
        <activity android:name=".presenter.user.activities.notebook.UserNotebookActivity" />
        <activity android:name=".presenter.guest.activities.notebook.GuestNotebookActivity" />
        <activity android:name=".presenter.common.activities.notebook.NotebookActivity" />
        <activity android:name=".presenter.user.activities.community.CommunityActivity" />
        <activity android:name=".presenter.guest.activities.guest.GuestActivity" />
        <activity android:name=".presenter.user.activities.authentication.AuthenticationActivity" />
        <activity android:name=".presenter.user.activities.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- For scheduling alarms for scheduled tests. -->
        <receiver android:name=".core.common.services.TestService$ScheduledTestAlarmManager$ScheduledTestAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>